doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
    title Hello, world!
  body
    // Navigation
    nav.navbar.navbar-light.bg-light.navbar-expand-lg
        .container
            a.navbar-brand.h1(href='#')
                img.d-inline-block.align-top.mr-2(src='img/idea.svg', width='30', height='30', alt='')
                | Think with Data
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='#') Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Cloud Computing
                    li.nav-item
                        a.nav-link(href='#') Data Engineering
                    li.nav-item
                        a.nav-link(href='#') Data Science
                    li.nav-item
                        a.nav-link(href='#') About
                    li.nav-item
                        a.nav-link(href='#') Contact
    // Page Content
    .container.mt-5
        != yield
    // Footer
    .container.py-5
        .row
            .col-12.col-md
                img.d-inline-block.align-top(src='img/idea.svg', width='30', height='30', alt='')
                small.d-block.mb-3.text-muted &copy; Dewang Mistry 2018
            .col-6.col-md
                h5 Features
                ul.list-unstyled.text-small
                    li
                        a.text-muted(href='#') Cool stuff
            .col-6.col-md
                h5 Resources
                ul.list-unstyled.text-small
                    li
                        a.text-muted(href='#') Resource
            .col-6.col-md
                h5 Resources
                ul.list-unstyled.text-small
                    li
                        a.text-muted(href='#') Business
            .col-6.col-md
                h5 About
                ul.list-unstyled.text-small
                    li
                        a.text-muted(href='#') Team
    script(src='node_modules/jquery/dist/jquery.slim.min.js')
    script(src='node_modules/popper.js/dist/popper.min.js')
    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')