h1.display-4 About this website

:markdown
    - What is Think with Data site about?
    - Why am I focusing on data?
        - [Why is data growing so fast?](https://www.forbes.com/sites/bernardmarr/2018/05/21/how-much-data-do-we-create-every-day-the-mind-blowing-stats-everyone-should-read/#77f812d660ba)
        - How are machines and softwares becoming intelligent using this data?
            - How will we benifit from it?
            - What are the things we should be aware of?
        - What benifits does cloud infrastructure give us?
    - What will the reader learn from reading this website?
        - Whar would they be able to do?

h1.display-4 About me

:markdown
    Hello. My name is Dewang Mistry. I'm a software application architect, and I love architecting and building data-intensive applications in the cloud. Here, on _Think with Data_ I document my journey to become a [full-stack](#) Data Engineer.