.jumbotron
    h1.p-3 #{description}
.row
    .col-12
        h2.display-5 Latest Articles
.row.mt-4
    .col-md-4
        .card.mb-2
            .card-body
                strong.d-inline-block.mb-2.text-primary AWS
                h5.card-title Amazon Web Services in Plain English
                p.card-text Introduction to fundamentals of AWS
                a.card-link(href="#") Continue reading
    .col-md-4
        .card.mb-2
            .card-body
                strong.d-inline-block.mb-2.text-primary AWS
                h5.card-title Amazon Web Services in Plain English
                p.card-text Introduction to fundamentals of AWS
                a.card-link(href="#") Continue reading
    .col-md-4
        .card.mb-2
            .card-body
                strong.d-inline-block.mb-2.text-primary AWS
                h5.card-title Amazon Web Services in Plain English
                p.card-text Introduction to fundamentals of AWS
                a.card-link(href="#") Continue reading