// Footer
.container.py-5
    .row
        .col-12.col-md
            small.mb-3.text-muted &copy; Dewang Mistry 2019
        .col-6.col-md
            h5 Features
            ul.list-unstyled.text-small
                li
                    a.text-muted(href='#') Cool stuff
        .col-6.col-md
            h5 Resources
            ul.list-unstyled.text-small
                li
                    a.text-muted(href='#') Resource
        .col-6.col-md
            h5 Resources
            ul.list-unstyled.text-small
                li
                    a.text-muted(href='#') Business
        .col-6.col-md
            h5 About
            ul.list-unstyled.text-small
                li
                    a.text-muted(href='#') Team
script(src='bower_components/jquery/dist/jquery.slim.min.js')
script(src='bower_components/popper.js/dist/popper.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')