// Navigation
nav.navbar.navbar-light.bg-light.navbar-expand-lg.py-3
    .container
        a.navbar-brand.mb-0.h1(href='/')
            != title
        span.navbar-text Data Engineering Roadmap
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='#') Articles
                li.nav-item
                    a.nav-link(href='about') About
                li.nav-item
                    a.nav-link(href='#') Contact