// Navigation
nav.navbar.navbar-light.bg-light.navbar-expand-lg
    .container
        a.navbar-brand.h1(href='#')
            img.d-inline-block.align-top.mr-2(src='img/idea.svg', width='30', height='30', alt='')
            != title
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='#') Articles
                li.nav-item
                    a.nav-link(href='about.html') About
                li.nav-item
                    a.nav-link(href='#') Contact